body {
    background-image: url(https://www.phoenixnext.com/dist/body-bg.jpg?d7b2360e478834848eb66233abae3ceb);
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    color: #333435
  }